# Copyright 2024 Canonical Ltd.
# SPDX-License-Identifier: AGPL-3.0

name: Release

on:
  push:
    branches:
      - main
      - "release-**"

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4.1.3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: simple
